:root{
    --background: rgba(85, 214, 178, .100);
}
*,*::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #222;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}
.content{
    height: 200vh;
    background-image: url(/Images/wp2728640-bmw-m-power-wallpapers.jpg);
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}
/*navigation styles start...for mobile/smaller displays*/
header{
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}
.nav-toggle{
    display: none;
}
.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: "";
    position: absolute;
}
.nav-toggle-label span::before{
    bottom: 7px;
}
.nav-toggle-label span::after{
    top: 7px;
}
nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: bottom;
    transition: transform 0.4s ease-in-out;/*the transition affects the content of the 'nav' tag (blue bg)*/
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}
nav a{
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    transition: opacity 100ms ease-in-out;/*opacity the transition of the content in the 'a' tags 400ms time taken for the content to come up*/
    /*note: the above transition happens when its not checked*/
}
nav a:hover{
    color: rgb(6, 116, 101);
}
/*........'~' looks for any preceeding sibling, it doesnt hve to be the immediate*/
.nav-toggle:checked ~ nav{
    transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 400ms;/*the transition happens when its checked*/
}

/*....................larger displays.........................*/


@media only screen and (min-width: 800px){
     .nav-toggle-label{
        display: none;
     }
     header{
         display: grid;
         grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
     }
     .logo{
         grid-column: 1 / 3;
     }
     nav{
         all: unset;/*it removes all of features we applied on the 'nav' tag before applyin the media querry*/
         grid-column: 3 / 4;
         display: flex;
         justify-content: flex-end;
         align-items: center;
     }
     nav a{
         opacity: 1;
         position: relative;
     }
     nav ul{
         display: flex;/*displays the content horizontally*/
         justify-content: flex-end;/*moves the content to the right*/
         align-items: center;
     }
     nav li{
         margin-left: 3em;
         margin-bottom: 0;
     }
     nav a::before{
         /*brings up all this line at the top of the menu*/
         content: "";
         display: block;
         height: 5px;
         background: rgb(6, 116, 101);
         position: absolute;
         bottom: -.75em;
         left: 0;
         right: 0;
         transform: scale(0, 1);/*0,1 shrinks the width instead*/
         /*transform-origin: left;*/
         transition: ease-in-out 250ms;
     }
     nav a:hover::before{
         transform: scale(1,1);
     }
}